@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

/*
// Basic Variables
$primary-color: red;
$secondary-color: black;
$primary_background-color: black;
$text_primary-color: white;
$text_secondary-color: red;
$border-color: white;

.styled_movie-card {
  margin-bottom: 15px;
  position: relative;
  // Allows for no overflow on card images when controlling height
  overflow: hidden;
  // Causes no wrapping text if it overflows
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 400px;
}

.btn-primaryX {
  color: $text_primary-color;
  background-color: $primary-color;
}

.secondary-button {
  color: $text_secondary-color;
  background-color: $primary_background-color;
  border-color: $border-color;
  border-radius: 12px;
}
*/